<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DetailPerson</title>

    <link rel="stylesheet" href="assets/fonts/stylesheet.css">
    <link rel="stylesheet" href="assets/css/styles.css">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</head>

  <body>

<section id="header">
	
</section>

<section id=content>
    <div class="bg container">
        <div class="row">

            <div class="icon_zone">
                  <div class="txt">
                      <h2>Keittisuk Ruksachob (Game)</h2>
                  </div>
            </div>

              <div class="container">
                            <div class="row">
                                <div class="bubble-conrol container">

                                    <div class="bubble-1">
                                        <img class="img-responsive" src="assets/images/bubble.png">
                                    </div>
                                    <div class="bubble-2">
                                        <img class="img-responsive" src="assets/images/bubble2.png">
                                    </div>
                                     <div class="bubble-3">
                                        <img class="img-responsive" src="assets/images/bubble3.png">
                                    </div>
                                   <div class="bubble-4">
                                        <img class="img-responsive" src="assets/images/bubble4.png">
                                    </div>
                                     <div class="bubble-5">
                                        <img class="img-responsive" src="assets/images/bubble5.png">
                                    </div> 
                                </div>

                            </div>
                        </div>
        	
            <div class="container">
                <div class="row">
                	
                		<div class="box-left col-sm">
                            <div class="txt-span">DEFENDERS DETAIL</div>
                	
                            <div class="tran-curve">
                		
                                <img class="img-curve img-fluid gradient-curve" src="assets/images/test.jpg">
                            </div>
                        </div>
                         		

                		<div class="box-right col-sm">
                			<div class="text-span">ภัทรานิษฐ์ อัศวเลิศปัญญา (สอง)
                            <div class="line-gradients"></div>
                        </div>

                		<div class="text-span">Student ID : 13600197
                            <div class="line-gradientes"></div>
                        </div>
	
                			<div class="text-span"><img class="img-icon img-fluid" src="assets/images/icon-facebook.png"> : SoNg Phattranit </div>
                			<div class="text-span"><img class="img-icon img-fluid" src="assets/images/icon-mail.png"> : phattranitsong@hotmail.com</div>
                			
                		  <button class="button-curve">PORTFOLIO (PDF)</button>

                		</div>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="box-left col-sm">
                    
                        <div class="txt-span">PROJECT OWNER</div>

                        <img class="img-curve img-fluid" src="assets/images/test.jpg">
                    </div>

                    <div class="box-right col-sm">

                            <div class="icon_zone">
                                  <div class="txt" style="margin-left:10px;text-align: left;">
                                      <h2>Balance</h2>
                                  </div>
                            </div>

                            <div class="text-spans">Design and Development Web Application Recommending Fengshui Home Building Design</div>
                            <div class="text-spans">การออกแบบและพัฒนาแอปพลิเคชันแนะนำการออกแบบสร้างบ้านในเชิงฮวงจุ้ย</div>
                            <div class="text-spans">Design and Development Web Application Recommending Fengshui Home Building Design</div>
                    
                        <button class="button-curve">PROJECT DETAIL</button>

                        </div>
                        
                    
                    </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="box-left col-sm">

                    <div class="txt-span">MORE DEFENDERS FROM &TIVIRUS</div>

                    <a href="">

                        <div class="txt-right">VIEW ALL
                            <div class="line-gradient"></div>
                        </div>
                    </a>

                        <div class="container">
                            <div class="row">


                                <div class="col-sm-4">
                            
                                    <div class="tranpa-curve"></div>

                                    <div id="change-img">
                                
                                      <a href="" >
                                      
                                         <!--  <img class="img-curves img-fluid gradient-curves change-img" src="assets/images/test.jpg"> -->
                                            <img class="img-per-curves img-responsive gradient-curves copy-img" src="assets/images/fake.png" />
                                            <img class="img-per-curves img-responsive gradient-curves real-img" src="assets/images/test.jpg" />
                                      </a>

                                    </div>

                                    
                                

                                      <div class="paint-icons">
                                              <a href="">
                                                <img src="assets/images/paint.png">
                                              </a>
                                                              
                                      </div>
                                      <div class="under-txt">

                                      <div class="text-span-unders">TUNCHANOK CHERNGKEEREE</div>
                                      <div class="text-span-unders">Designer</div>

                                      </div>

                                </div>

                                <div class="col-sm-4">
                            
                                    <div class="tranpa-curve"></div>

                                    <div id="change-img">
                                
                                      <a href="" >
                                      
                                         <!--  <img class="img-curves img-fluid gradient-curves change-img" src="assets/images/test.jpg"> -->
                                            <img class="img-per-curves img-responsive gradient-curves copy-img" src="assets/images/fake.png" />
                                            <img class="img-per-curves img-responsive gradient-curves real-img" src="assets/images/test.jpg" />
                                      </a>

                                    </div>

                                    
                                

                                      <div class="paint-icons">
                                              <a href="">
                                                <img src="assets/images/paint.png">
                                              </a>
                                                              
                                      </div>
                                      <div class="under-txt">

                                      <div class="text-span-unders">TUNCHANOK CHERNGKEEREE</div>
                                      <div class="text-span-unders">Designer</div>

                                      </div>

                                </div>


                                <div class="col-sm-4">
                            
                                    <div class="tranpa-curve"></div>

                                    <div id="change-img">
                                
                                      <a href="" >
                                      
                                         <!--  <img class="img-curves img-fluid gradient-curves change-img" src="assets/images/test.jpg"> -->
                                            <img class="img-per-curves img-responsive gradient-curves copy-img" src="assets/images/fake.png" />
                                            <img class="img-per-curves img-responsive gradient-curves real-img" src="assets/images/test.jpg" />
                                      </a>

                                    </div>

                                    
                                

                                      <div class="paint-icons">
                                              <a href="">
                                                <img src="assets/images/paint.png">
                                              </a>
                                                              
                                      </div>
                                      <div class="under-txt">

                                      <div class="text-span-unders">TUNCHANOK CHERNGKEEREE</div>
                                      <div class="text-span-unders">Designer</div>

                                      </div>

                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <section class="sec-follow-us">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="txt-follow">
                                    FOLLOW US ON
                                </div>
                                <div class="icon-follow">
                                    <span class="icon-pad">
                                <img src="assets/images/icon-facebook.png" alt="">
                            </span>
                                    <span class="icon-pad">
                                <img src="assets/images/icon-ig.png" alt="">
                            </span>
                                    <span class="icon-pad">
                                <img src="assets/images/icon-tw.png" alt="">
                            </span>
                                    <span class="icon-pad">
                                <img src="assets/images/icon-youtube.png" alt="">
                            </span>
                                </div>
                                <div class="txt-showcase">
                                    SHOWCASE BY
                                </div>
                                <div class="icon-follow">
                                    <div class="padcase">
                                        <span class="showcase-pad">
                                    <img src="assets/images/par1.png" alt="">
                                </span>
                                        <span class="showcase-pad2">
                                    <img src="assets/images/par2.png" alt="">
                                </span>
                                    </div>
                                </div>
                                <div class="txt-web">
                                    <span class="txt-w-h">WEB & INTERACTIVE MEDIA</span>
                                    <br>FACULTY OF INFORMATION & COMMUNICATION TECHNOLOGY, SILPAKORN UNIVERSITY
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            


        </div>	 		 
    </div>
</section>


  </body>
</html>