<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB15-DETAIL</title>



    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../package/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;400;500;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="assets/fonts/stylesheet.css">

    <link rel="stylesheet" href="assets/css/buttom.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/scroll.css">
    <link rel="stylesheet" href="assets/css/testbottom.scss">

    <link rel="stylesheet" href="assets/plug-in/prism/prism-default.css">








</head>

<body>
    <main class="wrapper bg">

        <section class="sec-appilcation">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-2">
                        <img src="/assets/images/logo.png" alt="">
                    </div>
                    <div class="col-8">
                        <div class="box-name">
                            <div class="arrow-ani">
                                <div class="name-txt-h">
                                    BALANCE
                                </div>
                            </div>
                            <div class="name-eng">
                                Design and Development Web Application Recommending Fengshui Home Building Design
                            </div>
                            <div class="name-thai">
                                การออกแบบและพัฒนาแอปพลิเคชันแนะนำการออกแบบสร้างบ้านในเชิงฮวงจุ้ย
                            </div>
                            <div class="name-app">
                                เว็บแอปพลิเคชันในการให้คำแนะนำการสร้างบ้านและตกแต่งบ้านในเชิงฮวงจุ้ยและการให้คำปรึกษา คำแนะนำ ของปัญหาของบ้านต่าง ๆ ได้อย่างถูกจุด
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-tec">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-2">
                        <div class="txt-tec">เทคนิคพัฒนา</div>
                    </div>
                    <div class="col-8">
                        <div class="txt-tec">ความสามารถ</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-2">
                        <div class="txt-front">front-end</div>
                        <div class="box-icon-vejs">
                            <div class="vejs-pad">
                                <img src="/assets/images/vejs.png" alt="">
                            </div>
                            <div class="lara-pad">
                                <img src="/assets/images/laravel.png" alt="">
                            </div>
                        </div>
                        <div class="txt-front2">BACK-END</div>
                        <div class="box-icon-vejs">
                            <div class="vejs-pad">
                                <img src="/assets/images/laravel.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="box-buttom">
                            <div class="buttom-time"> <i class="fas fa-play icon-play"></i><i class="fas fa-play icon-play"></i>&nbsp;&nbsp;01:25</div>
                        </div>
                        <div class="box-buttom">
                            <div class="buttom-time"> <i class="fas fa-play icon-play"></i><i class="fas fa-play icon-play"></i>&nbsp;&nbsp;01:25</div>
                        </div>
                        <div class="box-buttom">
                            <div class="buttom-time"> <i class="fas fa-play icon-play"></i><i class="fas fa-play icon-play"></i>&nbsp;&nbsp;01:25</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="txt-func1">
                            ฟังก์ชันการคำนวณวันเดือนปีเกิดเพื่อหาธาตุที่ คุณควรเสริมดวง และให้คำแนะนำการออกแบบและ ตกแต่งห้องนอนและห้องนั่ง เล่นตามช่วงอายุต่าง ๆ
                        </div>
                        <div class="txt-func2">
                            ฟังก์ชันกระทู้ถามตอบ และปรึกษาหาคำแนะนำ สำหรับผู้สนใจใน การหาไอเดียการออกแบบและตกแต่งห้องในเชิงฮวงจุ้ย
                        </div>
                        <div class="txt-func3">
                            ฟังก์ชันการติดต่องานช่าง บริษัทรับเหมา หรือซินแส
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-video">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-2">
                        <div class="txt-data">DATA COLLCTION</div>
                        <div class="box-icon-vejs">
                            <div class="vejs-pad">
                                <img src="/assets/images/loma.png" alt="">
                            </div>
                        </div>
                        <div class="txt-other">OTHER</div>
                        <div class="box-icon-vejs">
                            <div class="vejs-pad">
                                -
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="box-name">
                            <div class="video-tutoral">
                                <iframe width="100%" height="315" border-radius="20px" src="https://www.youtube.com/embed/AyXKEC-zaxQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-teacher">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-2">
                        <div class="txt-tec">อาจารย์ที่ปรึกษา :</div>
                    </div>
                    <div class="col-8">
                        <div class="txt-teacher">อาจารย์นพรัตน์ ไพทูลสุริการ</div>
                    </div>
                </div>
                <div class="row pro-olw">
                    <div class="col col-lg-2 ">
                        <div class="txt-tec">เจ้าของผลงาน :</div>
                    </div>
                    <div class="col-md-auto">
                        <div class="photo-us">
                            <img src="/assets/images/game.png" alt="">
                        </div>
                        <div class="position">
                            Developer
                        </div>
                        <div class="my-name">
                            Keittisuk Ruksachob
                        </div>
                        <div class="my-e-mail">
                            ruksachob_k@silpakorn.edu
                        </div>
                        <div class="box-buttom-profile">
                            <div class="buttom-profile">
                                VIEW PROFILE
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="photo-us">
                            <img src="/assets/images/game.png" alt="">
                        </div>
                        <div class="position">
                            Designer
                        </div>
                        <div class="my-name">
                            Keittisuk Ruksachob
                        </div>
                        <div class="my-e-mail">
                            ruksachob_k@silpakorn.edu
                        </div>
                        <div class="box-buttom-profile">
                            <div class="buttom-profile">
                                VIEW PROFILE
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-interview">
            <div class="container">
                <div class="row pro-olw">
                    <div class="col col-lg-2 ">
                        <div class="txt-tec">INTERVIEW :</div>
                    </div>
                    <div class="col-md-auto">
                        <div class="video-interview">
                            <iframe width="280px" height="280px" border-radius="20px" src="https://www.youtube.com/embed/AyXKEC-zaxQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="video-interview">
                            <iframe width="280px" height="280px" border-radius="20px" src="https://www.youtube.com/embed/AyXKEC-zaxQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-project-gallery">
            <div class="container">
                <div class="row pro-olw">
                    <div class="col col-lg-2 ">
                        <div class="txt-tec">PROJECT GALLERY :</div>
                    </div>
                    <div class="col">
                        <div class="bg-sponser">
                            <div class="swiper-container" id="slider_more-product">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide "><img src="/assets/images/test.png"></div>
                                    <div class="swiper-slide "><img src="/assets/images/test.png"></div>
                                    <div class="swiper-slide "><img src="/assets/images/test.png"></div>

                                </div>
                                <div class="swiper-pagination active"></div>


                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="swiper-pagination active"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="best-shot">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="txt-tec">BEST SHOT</div>
                        <div class="my-code">
                            CODE SNIPPET EXAMPLE
                        </div>
                        <div class="my-code-dis">
                            เป็นส่วนของการทำงาน คำนวณหาอายุและช่วงอายุปัจจุบัน
                        </div>
                        <div class="box-buttom-gird">
                            <div class="buttom-gird">
                                VIEW MORE ON GITHUB
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="box-codeding">
                            <div>
                                <pre><code class="language-php">{{ $list->detail->bs_code }}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="best-shot-design">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="box-best-design">
                            <img src="/assets/images/best-shot-design.png" alt="">
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="txt-tec">BEST SHOT</div>
                        <div class="my-code">
                            DESIGN WORKS
                        </div>
                        <div class="my-code-dis">
                            ไอคอนปีนักษัตร และธาตุในหลักฮวงจุ้ย ออกแบบมาในลักษณะของการใช้เส้น สร้างโครงร่างขึ้นมา
                        </div>
                        <div class="box-buttom-gird">
                            <div class="buttom-gird">
                                REFERENCE PINTEREST BOARD
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-persona">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-2 ">
                        <div class="txt-tec">PROJECT PERSONA</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-2 ">
                        <div class="photo-persona">
                            <img src="/assets/images/game.png" alt="">
                        </div>
                    </div>
                    <div class="col col-lg-2 ">
                        <div class="">
                            <div class="txt-h-n-persona">NAME</div>
                            <div class="txt-persona">ปลาย</div>
                            <div class="txt-h-persona">WORK</div>
                            <div class="txt-persona">Product Designer</div>
                            <div class="txt-h-persona">AGE</div>
                            <div class="txt-persona">27 years</div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="txt-h-n-persona">BACKGROUD</div>
                        <div class="txt-background">พนักงานออฟฟิศที่มีความเชื่อใน ศาสตร์ฮวงจุ้ยและมีเงินเก็บจากการ ทำงานอยู่จำนวนหนึ่งต้องการสร้าง บ้านและตกแต่งบ้าน แต่ยังไม่มีไอเดีย ในการตกแต่งบ้านและไม่รู้จะติดต่อ ช่างได้จากที่ไหนบ้าง </div>
                    </div>
                    <div class="col-4">
                        <div class="txt-h-n-persona">BEHAVIOR</div>
                        <div class="txt-behav">เชื่อเรื่องศาสตร์ฮวงจุ้ยของจีน</div>
                        <div class="">
                            <input type="range" class="form-range" min="0" max="5" step="1" id="customRange3">
                        </div>
                        <div class="txt-behav">ชอบตกแต่งและออกแบบ</div>
                        <div class="">
                            <input type="range" class="form-range" min="0" max="5" step="1" id="customRange3">
                        </div>
                        <div class="txt-behav">ชอบเข้าสังคม</div>
                        <div class="">
                            <input type="range" class="form-range" min="0" max="5" step="1" id="customRange3">
                        </div>
                        <div class="txt-behav">รักครอบครัว</div>
                        <div class="">
                            <input type="range" class="form-range" min="0" max="5" step="1" id="customRange3">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="sec-interesting">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="txt-inter">What areas our work is interesting for you ?</div>
                    </div>
                </div>

                <div class="row">
                    <div class="bg-inter">
                        <div class="box-buttom-inters">
                            <div class="buttom-inters">
                                DESIGN
                            </div>
                        </div>
                        <div class="box-buttom-inters">
                            <div class="buttom-inters">
                                CODEDING
                            </div>
                        </div>
                        <div class="box-buttom-inters">
                            <div class="buttom-inters">
                                ALL
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="sec-more-form">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="txt-tec">MORE FROM &TIVIRUS</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="txt-view-more">VIEW ALL</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-more-project">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="grid-menu pad-21pro">
                            <div class="box_eq">
                                <img src="/assets/images/1projects.png" alt="">
                                <div class="txt21-pad">
                                    <div class="txt21">
                                        Production
                                    </div>
                                    <div class="txt21dis">
                                        Production
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="grid-menu pad-22pro">
                            <div class="box_eq">
                                <img src="/assets/images/1projects.png" alt="">
                                <div class="txt21-pad">
                                    <div class="txt21">
                                        Production
                                    </div>
                                    <div class="txt21dis">
                                        Production
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="grid-menu pad-23pro">
                            <div class="box_eq">
                                <img src="/assets/images/1projects.png" alt="">
                                <div class="txt21-pad">
                                    <div class="txt21">
                                        Production
                                    </div>
                                    <div class="txt21dis">
                                        Production
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <section class="sec-follow-us">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="txt-follow">
                            FOLLOW US ON
                        </div>
                        <div class="icon-follow">
                            <span class="icon-pad">
                                <img src="/assets/images/icon-facebook.png" alt="">
                            </span>
                            <span class="icon-pad">
                                <img src="/assets/images/icon-ig.png" alt="">
                            </span>
                            <span class="icon-pad">
                                <img src="/assets/images/icon-tw.png" alt="">
                            </span>
                            <span class="icon-pad">
                                <img src="/assets/images/icon-youtube.png" alt="">
                            </span>
                        </div>
                        <div class="txt-showcase">
                            SHOWCASE BY
                        </div>
                        <div class="icon-follow">
                            <div class="padcase">
                                <span class="showcase-pad">
                                    <img src="/assets/images/par1.png" alt="">
                                </span>
                                <span class="showcase-pad2">
                                    <img src="/assets/images/par2.png" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="txt-web">
                            <span class="txt-w-h">WEB & INTERACTIVE MEDIA</span>
                            <br>FACULTY OF INFORMATION & COMMUNICATION TECHNOLOGY, SILPAKORN UNIVERSITY
                        </div>
                    </div>
                </div>
            </div>
        </section>







    </main>

    <script src="assets/plug-in/prism/prism.js"></script>

</body>

<script>
    var swiper = new Swiper('#slider_more-product', {
        slidesPerView: 3,
        spaceBetween: 10,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },


        breakpoints: {
            640: {
                slidesPerView: 3,
                spaceBetween: 2,
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 2,
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 5,
            },
        },

    });
</script>