/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/assets/images/logo_animate.mov
public/resource/IN03/file/portfolio_13600168.pdf
public/resource/IN03/images/13600168_profile_art.png
public/resource/IN03/images/bs_design.jpg
public/resource/IN03/images/img_design.jpg
public/resource/IN03/images/img_develop.jpg
public/resource/IN03/images/img_project.jpg
public/resource/IN03/images/persona.jpg
public/resource/IN03/screenshot/screenshot_01.png
public/resource/IN03/screenshot/screenshot_02.png
public/resource/IN03/screenshot/screenshot_03.png
public/resource/IN05/file/portfolio_13600173.pdf
public/resource/IN05/images/13600173_profile_art.png
public/resource/IN05/images/bs_design.jpg
public/resource/IN05/images/img_design.jpg
public/resource/IN05/images/img_develop.jpg
public/resource/IN05/images/img_project.jpg
public/resource/IN05/images/persona.jpg
public/resource/IN05/screenshot/screenshot_01.png
public/resource/IN05/screenshot/screenshot_02.png
public/resource/IN05/screenshot/screenshot_03.png
public/resource/IN05/screenshot/screenshot_04.png
public/resource/IN06/file/portfolio_13600176.pdf
public/resource/IN06/images/13600176_profile_art.png
public/resource/IN06/images/bs_design.jpg
public/resource/IN06/images/img_design.jpg
public/resource/IN06/images/img_develop.jpg
public/resource/IN06/images/img_project.jpg
public/resource/IN06/images/persona.jpeg
public/resource/IN06/screenshot/screenshot_01.png
public/resource/IN06/screenshot/screenshot_02.png
public/resource/IN06/screenshot/screenshot_03.png
public/resource/IN06/screenshot/screenshot_04.png
public/resource/IN08/files/portfolio_13600179.pdf
public/resource/IN08/images/bs_design.jpg
public/resource/IN08/images/persona.jpg
public/resource/IN08/screenshots/screenshot_01.jpg
public/resource/IN08/screenshots/screenshot_02.jpg
public/resource/IN08/screenshots/screenshot_03.jpg
public/resource/IN08/screenshots/screenshot_04.jpg
public/resource/IN09/file/portfolio_13600182.pdf
public/resource/IN09/images/13600182_profile_art.png
public/resource/IN09/images/bs_design.jpg
public/resource/IN09/images/img_design.jpg
public/resource/IN09/images/img_develop.jpg
public/resource/IN09/images/img_project.jpg
public/resource/IN09/images/persona.jpg
public/resource/IN09/screenshot/screenshot_1.png
public/resource/IN09/screenshot/screenshot_2.png
public/resource/IN09/screenshot/screenshot_3.png
public/resource/IN09/screenshot/screenshot_4.png
public/resource/IN12/file/portfolio_13600201.pdf
public/resource/IN12/images/13600201_profile_art.png
public/resource/IN12/images/bs_design.png
public/resource/IN12/images/img_design.png
public/resource/IN12/images/img_develop.png
public/resource/IN12/images/img_project.png
public/resource/IN12/images/persona.jpg
public/resource/IN12/screenshot/screenshot_01.PNG
public/resource/IN12/screenshot/screenshot_02.PNG
public/resource/IN12/screenshot/screenshot_03.PNG
public/resource/IN12/screenshot/screenshot_04.PNG
public/resource/IN14/file/portfolio_13600207.pdf
public/resource/IN14/images/13600207_profile_art.png
public/resource/IN14/images/bs_design.jpg
public/resource/IN14/images/img_design.jpg
public/resource/IN14/images/img_develop.jpg
public/resource/IN14/images/img_project.jpg
public/resource/IN14/images/persona.jpg
public/resource/IN14/screenshot/screenshot_01.png
public/resource/IN14/screenshot/screenshot_02.png
public/resource/IN14/screenshot/screenshot_03.png
public/resource/IN14/screenshot/screenshot_04.png
public/resource/IN15/file/portfolio_13600212.pdf
public/resource/IN15/images/13600212_profile_art.png
public/resource/IN15/images/bs_design.jpg
public/resource/IN15/images/img_design.jpg
public/resource/IN15/images/img_develop.jpg
public/resource/IN15/images/img_project.jpg
public/resource/IN15/images/persona.jpg
public/resource/IN15/screenshot/screenshot_01.jpg
public/resource/IN15/screenshot/screenshot_02.jpg
public/resource/IN15/screenshot/screenshot_03.jpg
public/resource/IN15/screenshot/screenshot_04.jpg
public/resource/IN15/screenshot/screenshot_05.jpg
public/resource/IN16/file/portfolio_13600557.pdf
public/resource/IN16/images/13600557_profile_art.png
public/resource/IN16/images/bs_design.jpg
public/resource/IN16/images/img_design.jpg
public/resource/IN16/images/img_develop.jpg
public/resource/IN16/images/img_project.jpg
public/resource/IN16/images/persona.png
public/resource/IN16/screenshot/screenshot_01.jpg
public/resource/IN16/screenshot/screenshot_02.jpg
public/resource/IN16/screenshot/screenshot_03.jpg
public/resource/IN16/screenshot/screenshot_04.jpg
public/resource/IN17/file/portfolio_13600558.pdf
public/resource/IN17/images/13600558_profile_art.png
public/resource/IN17/images/bs_design.jpg
public/resource/IN17/images/img_design.jpg
public/resource/IN17/images/img_develop.jpg
public/resource/IN17/images/img_project.jpg
public/resource/IN17/images/persona.jpg
public/resource/IN17/screenshot/screenshot_01.jpg
public/resource/IN17/screenshot/screenshot_02.jpg
public/resource/IN17/screenshot/screenshot_03.jpg
public/resource/IN17/screenshot/screenshot_04.jpg
public/resource/IN17/screenshot/screenshot_05.jpg
public/resource/IN18/file/portfolio_13600560.pdf
public/resource/IN18/images/13600560_profile_art.png
public/resource/IN18/images/bs_design.jpg
public/resource/IN18/images/Code_IN18.jpg
public/resource/IN18/images/img_develop.jpg
public/resource/IN18/images/img_project.jpg
public/resource/IN18/images/persona.jpg
public/resource/IN18/screenshot/screenshot_01.png
public/resource/IN18/screenshot/screenshot_02.png
public/resource/IN18/screenshot/screenshot_03.png
public/resource/IN18/screenshot/screenshot_04.png
public/resource/IN18/screenshot/screenshot_05.png
public/resource/TW02/file/portfolio_13570152.pdf
public/resource/TW02/file/portfolio_13570259.pdf
public/resource/TW02/images/13570162_profile_art.png
public/resource/TW02/images/13570259_profile_art.png
public/resource/TW02/images/bs_design.jpg
public/resource/TW02/images/img_design.jpg
public/resource/TW02/images/img_develop.jpg
public/resource/TW02/images/img_project.jpg
public/resource/TW02/images/persona.jpg
public/resource/TW02/screenshot/screenshot_01.png
public/resource/TW02/screenshot/screenshot_02.png
public/resource/TW02/screenshot/screenshot_03.png
public/resource/TW02/screenshot/screenshot_04.png
public/resource/TW02/screenshot/screenshot_05.png
public/resource/TW04/file/portfolio_13600162.pdf
public/resource/TW04/file/portfolio_13600202.pdf
public/resource/TW04/images/13600162_profile_art.png
public/resource/TW04/images/13600202_profile_art.png
public/resource/TW04/images/bs_design.jpg
public/resource/TW04/images/img_design.jpg
public/resource/TW04/images/img_develop.jpg
public/resource/TW04/images/img_project.jpg
public/resource/TW04/images/persona.jpg
public/resource/TW04/screenshot/screenshot_01.png
public/resource/TW04/screenshot/screenshot_02.png
public/resource/TW04/screenshot/screenshot_03.png
public/resource/TW04/screenshot/screenshot_04.png
public/resource/TW04/screenshot/screenshot_05.png
public/resource/TW05/file/portfolio_13600164.pdf
public/resource/TW05/file/portfolio_13600208.pdf
public/resource/TW05/images/13600164_profile_art.png
public/resource/TW05/images/13600208_profile_art.png
public/resource/TW05/images/bs_design.jpg
public/resource/TW05/images/img_design.jpg
public/resource/TW05/images/img_develop.jpg
public/resource/TW05/images/img_project.jpg
public/resource/TW05/images/persona.jpg
public/resource/TW05/screenshot/screenshot_01.PNG
public/resource/TW05/screenshot/screenshot_02.PNG
public/resource/TW05/screenshot/screenshot_03.PNG
public/resource/TW05/screenshot/screenshot_04.PNG
public/resource/TW05/screenshot/screenshot_05.PNG
public/resource/TW06/file/portfolio_13600166.pdf
public/resource/TW06/file/portfolio_13600170.pdf
public/resource/TW06/images/13600166_profile_art.png
public/resource/TW06/images/13600170_profile_art.png
public/resource/TW06/images/bs_design.png
public/resource/TW06/images/img_design.png
public/resource/TW06/images/img_develop.png
public/resource/TW06/images/img_project.png
public/resource/TW06/images/persona.jpg
public/resource/TW06/screenshot/screenshort_tw06_01.png
public/resource/TW06/screenshot/screenshort_tw06_02.png
public/resource/TW06/screenshot/screenshort_tw06_03.png
public/resource/TW06/screenshot/screenshort_tw06_04.png
public/resource/TW06/screenshot/screenshort_tw06_05.png
public/resource/TW07/file/portfolio_13600171.pdf
public/resource/TW07/file/portfolio_13600199.pdf
public/resource/TW07/images/13600171_profile_art.png
public/resource/TW07/images/13600199_profile_art.png
public/resource/TW07/images/bs_design.jpg
public/resource/TW07/images/img_design.jpg
public/resource/TW07/images/img_develop.jpg
public/resource/TW07/images/img_project.jpg
public/resource/TW07/images/persona.png
public/resource/TW07/screenshot/screenshot_01.jpg
public/resource/TW07/screenshot/screenshot_02.jpg
public/resource/TW07/screenshot/screenshot_03.jpg
public/resource/TW07/screenshot/screenshot_04.jpg
public/resource/TW07/screenshot/screenshot_05.jpg
public/resource/TW08/file/portfolio_13600174.pdf
public/resource/TW08/file/portfolio_13600197.pdf
public/resource/TW08/images/13600174_profile_art.png
public/resource/TW08/images/13600197_profile_art.png
public/resource/TW08/images/bs_design.jpg
public/resource/TW08/images/img_design.jpg
public/resource/TW08/images/img_develop.jpg
public/resource/TW08/images/img_project.jpg
public/resource/TW08/images/persona.jpg
public/resource/TW08/screenshot/screenshot_01.jpg
public/resource/TW08/screenshot/screenshot_02.jpg
public/resource/TW08/screenshot/screenshot_03.jpg
public/resource/TW08/screenshot/screenshot_04.jpg
public/resource/TW08/screenshot/screenshot_05.jpg
public/resource/TW09/file/portfolio_13600175.pdf
public/resource/TW09/file/portfolio_13600183.pdf
public/resource/TW09/images/13600175_profile_art.png
public/resource/TW09/images/13600183_profile_art.png
public/resource/TW09/images/bs_design.jpg
public/resource/TW09/images/img_design.jpg
public/resource/TW09/images/img_develop.jpg
public/resource/TW09/images/img_project.jpg
public/resource/TW09/images/persona.jpg
public/resource/TW09/screenshot/screenshot_01.png
public/resource/TW09/screenshot/screenshot_02.png
public/resource/TW09/screenshot/screenshot_03.png
public/resource/TW09/screenshot/screenshot_04.png
public/resource/TW09/screenshot/screenshot_05.png
public/resource/TW10/file/portfolio_13600181.pdf
public/resource/TW10/images/13600181_profile_art.png
public/resource/TW10/images/bs_design.jpg
public/resource/TW10/images/img_design.jpg
public/resource/TW10/images/img_develop.jpg
public/resource/TW10/images/img_project.jpg
public/resource/TW10/images/persona.jpg
public/resource/TW10/screenshot/screenshot_01.PNG
public/resource/TW10/screenshot/screenshot_02.PNG
public/resource/TW10/screenshot/screenshot_03.PNG
public/resource/TW10/screenshot/screenshot_04.png
public/resource/TW10/screenshot/screenshot_05.png
public/resource/TW11/file/portfolio_13600185.pdf
public/resource/TW11/file/portfolio_13600211.pdf
public/resource/TW11/images/13600185_profile_art.png
public/resource/TW11/images/13600211_profile_art.png
public/resource/TW11/images/bs_design.jpg
public/resource/TW11/images/img_design.jpg
public/resource/TW11/images/img_develop.jpg
public/resource/TW11/images/img_project.jpg
public/resource/TW11/images/persona.jpg
public/resource/TW11/screenshot/screenshot_01.jpg
public/resource/TW11/screenshot/screenshot_02.jpg
public/resource/TW11/screenshot/screenshot_03.jpg
public/resource/TW11/screenshot/screenshot_04.jpg
public/resource/TW11/screenshot/screenshot_05.jpg
public/resource/TW12/file/portfolio_13600198.pdf
public/resource/TW12/file/portfolio_13600203.pdf
public/resource/TW12/images/13600198_profile_art.png
public/resource/TW12/images/13600203_profile_art.png
public/resource/TW12/images/bs_design.jpg
public/resource/TW12/images/Code_TW12.jpg
public/resource/TW12/images/img_develop.jpg
public/resource/TW12/images/persona.png
public/resource/TW12/screenshot/screenshot_01.png
public/resource/TW12/screenshot/screenshot_02.png
public/resource/TW12/screenshot/screenshot_03.png
public/resource/TW12/screenshot/screenshot_04.png
public/resource/TW12/screenshot/screenshot_05.png
