/* /////////////// reset /////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-size: 18px;
    /*font-family: 'Prompt';*/
    line-height: 1.4;
    background-color: #ffffff;
    font-family: 'db_adman_xregular';
    /* font-family: 'Poppins', sans-serif; */
}

.pos {
    position: absolute;
}

.rel {
    position: relative;
}

.thumbnail>img,
.thumbnail a>img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.t_inline {
    display: inline-block;
}

.pad0 {
    padding: 0;
}

.mar0 {
    margin: 0;
}

ul,
ol {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.4;
    font-weight: normal;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    /* max-width: 100%; */
    width: auto;
}

.txt-center {
    text-align: center;
}

.wrapper {
    -webkit-font-smoothing: antialiased;
}

.showpc {
    display: block;
}

.showmb {
    display: none;
}


/* /////////////// reset /////////////// */

.container {
    max-width: 960px;
}

.col-8 {
    flex: 0 0 68.666667%;
    max-width: 516.666667%;
}

.bg {
    background: url('../images/bg-desktop-de.png')no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* position: relative; */
}

.img-logo-small {
    width: 7%;
    min-width: 70px;
    position: relative;
    z-index: 10;
}

.box-lodo-main {
    padding: 69px 0px 0px 70px;
}


/* .bg::before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 1000px;
    color: red;
    right: 0px;
    bottom: 0px;
} */

.sec-appilcation {
    padding-top: 50px;
}

.box-name {
    padding: 0px 0px 0px 0px;
    /* font-family: IBM Plex Mono; */
}

.name-txt-h {
    text-transform: uppercase;
    font-size: 40px;
    color: rgba(254, 189, 205, 0.8);
    line-height: 47px;
    padding-bottom: 8px;
    font-family: 'ibm_plex_sans_thai_loopedbold';
    letter-spacing: 0.15em;
    position: relative;
}


/* . {} */

.arrow-ani::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 50%;
    background: url('../images/arrow.png')no-repeat top center;
    left: 38px;
    bottom: 88px;
}

.arrow-ani:before {
    animation-name: arrow-go;
    animation-duration: 4s;
    /*ถ้าไม่ลูปปรับ 3s*/
    animation-iteration-count: infinite;
}

@keyframes arrow-go {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(270%)
    }
}

.name-eng {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    line-height: 16px;
}

.name-thai {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    line-height: 26px;
    padding-bottom: 8px;
}

.name-app {
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 19px;
    color: #FFFFFF;
}

.sec-tec {
    padding-top: 6vh;
}

.txt-tec {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #EA396B;
    padding-bottom: 15px;
}

.txt-front {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.txt-data {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 6vh;
}

.txt-other {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 3vh;
}

.txt-front2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 10px;
    /* padding-top: 11vh; */
}

.buttom-time {
    width: 127px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #F31A73;
    border: 1px solid #F31A73;
    box-sizing: border-box;
    border-radius: 44px;
    text-align: center;
    cursor: pointer;
    background-color: #2a2a2a;
}

.icon-play {
    font-size: 19px;
    /* padding-top: 8px; */
}

.buttom-time:hover {
    background-color: #F31A73;
    color: #ffffff;
}

.lara-pad {
    padding-left: 11px;
}

.vejs-pad {
    padding-left: 4px;
    color: #ffffff;
}

.box-icon-vejs {
    display: flex;
}

.box-buttom {
    padding-bottom: 43px;
}

.txt-func1 {
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 33px;
}

.txt-func2 {
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 57px;
}

.txt-func3 {
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 19px;
    color: #FFFFFF;
}

.video-tutoral {
    position: relative;
}

/*.video-tutoral::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 350px;*/
/*    background: linear-gradient( 45deg, rgba(57, 119, 210, 1) 0%, rgba(249, 161, 27, 1) 65%, rgba(255, 21, 105, 1) 100%);*/
/*    left: 0px;*/
/*    opacity: 0.2;*/
/*}*/

.video-interview {
    position: relative;
}

/*.video-interview::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 280px;*/
/*    height: 280px;*/
/*    background: linear-gradient( 45deg, rgba(57, 119, 210, 1) 0%, rgba(249, 161, 27, 1) 65%, rgba(255, 21, 105, 1) 100%);*/
/*    left: 0px;*/
/*    opacity: 0.2;*/
/*}*/

.sec-teacher {
    padding-top: 4vh;
}

.txt-teacher {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 19px;
    color: #FFFFFF;
}

.pro-olw {
    padding-top: 2vh;
}

.photo-us {
    margin-top: 40px;
    position: relative;
}

.photo-us::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid rgba(255, 21, 105, 1);
}

.photo-persona {
    padding-top: 12px;
    position: relative;
}

.photo-persona::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid rgba(255, 21, 105, 1);
}

.position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #B8248E;
    padding-top: 12px;
}

.my-name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 5px;
}

.my-e-mail {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
}

.buttom-profile {
    width: 280px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #F31A73;
    border: 1px solid #F31A73;
    border-radius: 43px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
}

.box-buttom-profile {
    padding-top: 20px;
}

.buttom-profile:hover {
    color: #ffffff;
    background-color: #F31A73;
}

.sec-interview {
    padding-top: 78px;
}

.sec-project-gallery {
    padding-top: 70px;
    padding-bottom: 50px;
}

.swiper-slide img {
    width: 100%;
}

.swiper-wrapper {
    padding-bottom: 60px;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 60px;
    height: 7px;
    border-radius: 4.5px;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
    border: 1px solid white;
}

.swiper-pagination .swiper-pagination-bullet-active {
    width: 60px;
    height: 7px;
    background-color: #F31A73;
    border-radius: 4.5px;
    border: none;
}

.my-code {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
}

.my-code-dis {
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 16px;
}

.box-buttom-gird {
    padding-top: 30px;
}

.buttom-gird {
    width: 280px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #F31A73;
    border: 1px solid #F31A73;
    border-radius: 43px;
    text-align: center;
    padding-top: 13px;
    cursor: pointer;
    text-decoration: none;
}

.buttom-gird:hover {
    color: #ffffff;
    background-color: #F31A73;
}

.box-buttom-inters {
    padding-top: 30px;
    padding-left: 25px;
}

.buttom-inters {
    width: auto;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #F31A73;
    border: 1px solid #F31A73;
    box-sizing: border-box;
    border-radius: 44px;
    text-align: center;
    cursor: pointer;
    background-color: #2a2a2a;
    padding: 0px 35px;
}

.buttom-inters:hover {
    color: #ffffff;
    background-color: #F31A73;
}

.buttom-inters-active {
    width: auto;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0.1em;
    border: 1px solid #F31A73;
    box-sizing: border-box;
    border-radius: 44px;
    text-align: center;
    cursor: pointer;
    padding: 0px 35px;
    color: #ffffff;
    background-color: #F31A73;
}

.codeding {
    width: auto;
    height: 335px;
    background-color: #ffffff;
    border-radius: 20px;
}

.best-shot {
    padding-top: 4vh;
}

.best-shot-design {
    padding-top: 100px;
    padding-bottom: 100px;
}

.box-best-design-img {
    width: 100%;
    border-radius: 20px;
}

.box-best-design {
    position: relative;
    width: 100%;
}

.box-best-design::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 343.11px;
    left: 0px;
    background: linear-gradient( 45deg, rgba(57, 119, 210, 1) 0%, rgba(249, 161, 27, 1) 65%, rgba(255, 21, 105, 1) 100%);
    opacity: 0.2;
    border-radius: 20px;
}

.txt-h-persona {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #EA396B;
    padding-top: 25px;
}

.txt-persona {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

.txt-background {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    color: #FFFFFF;
}

.txt-behav {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 5px;
}

.txt-h-n-persona {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #EA396B;
    padding-bottom: 10px;
}

.form-range {
    width: 203px;
    height: 4px;
}

#customRange3 {
    color: red;
    background-color: red;
}

.sec-interesting {
    padding-top: 60px;
    padding-bottom: 80px;
}

.txt-inter {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    padding-bottom: 34px;
}

.bg-inter {
    width: 100%;
    height: 149px;
    background: #212121 no-repeat top center;
    border-radius: 20px;
    display: flex;
    padding-top: 24px;
}

.pad-bg {
    padding-top: 30px;
    padding-bottom: 70px;
}

.txt-view-more {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.txt-view-more::before {
    content: '';
    position: absolute;
    width: 29px;
    height: 2px;
    background: linear-gradient( 45deg, rgba(57, 119, 210, 1) 0%, rgba(249, 161, 27, 1) 65%, rgba(255, 21, 105, 1) 100%);
    right: 0px;
    bottom: 2px;
}

.sec-more-project {
    padding-top: 15px;
}

.box_eq {
    position: relative;
}

.mirror {
    position: relative;
}

.mirror:before {
    content: '';
    position: absolute;
    width: 278px;
    height: 157px;
    background: linear-gradient(253.21deg, rgba(249, 161, 27, 0.2) 14.24%, rgba(255, 21, 105, 0.2) 63.41%, rgba(41, 180, 230, 0.2) 91.37%);
    right: inherit;
    bottom: -69px;
    border-top-right-radius: 30px;
    opacity: 1;
}

.sec-21project {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2A2A2A;
}

.mirror:after {
    content: '';
    position: absolute;
    width: 278px;
    height: 2px;
    background: linear-gradient( 45deg, rgba(57, 119, 210, 1) 0%, rgba(249, 161, 27, 1) 65%, rgba(255, 21, 105, 1) 100%);
    bottom: -69px;
    right: 0px;
}

.txt21 {
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.txt21dis {
    font-size: 16px;
    color: #ffffff;
}

.txt21-pad {
    padding-top: 2vh;
}

.sec-follow-us {
    background-color: #2A2A2A;
    padding: 10% 0% 10% 0%;
}

.txt-follow {
    /* font-family: IBM Plex Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.045em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 16px;
}

.txt-showcase {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.045em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    /* padding-bottom: 16px; */
    padding-top: 50px;
    padding-bottom: 9px;
}

.icon-follow {
    text-align: center;
}

.icon-pad {
    padding-right: 18px;
}

.icon-pad:hover {
    opacity: 0.5;
}

.showcase-pad img {
    width: 5%;
}

.showcase-pad2 img {
    width: 17%;
}

.padcase {
    padding-right: 23px;
}

.txt-web {
    font-size: 19px;
    text-align: center;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: normal;
}

.txt-w-h {
    font-style: normal;
    font-weight: bold;
    background: linear-gradient(to right, #FF1569, #3977D2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

* pre {
    height: 300px;
    max-height: 300px;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    font-size: 14px !important;
}
#comment-form{
    width: 100% !important;
}
#messageBox {
    width: 100%;
}

.bg-inter2 {
    width: 100%;
    height: auto;
    background: #212121 no-repeat top center;
    border-radius: 20px;
}
.text-arear {
    font-size: 24px;
    color: white;
    padding: 35px 31px;
}
.testtest {
    display: flex;
}

.box-buttom-inters2 {
    padding-bottom: 20px;
}

#exampleFormControlTextarea1 {
    color: white;
    background-color: #212121;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 15px 20px;
}

.box-buttom-inters3 {
    padding-left: 43px;
}

#react {
    position: relative;
    z-index: 5;
}



.bubble-1 {
    -webkit-animation-name: bubbleMove1;
    animation-name: bubbleMove1;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bubble-2 {
    -webkit-animation-name: bubbleMove2;
    animation-name: bubbleMove2;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bubble-3 {
    -webkit-animation-name: bubbleMove3;
    animation-name: bubbleMove3;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bubble-4 {
    -webkit-animation-name: bubbleMove4;
    animation-name: bubbleMove4;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bubble-5 {
    -webkit-animation-name: bubbleMove5;
    animation-name: bubbleMove5;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bubbleMove1 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
    40% {
        -webkit-transform: translateX(25px);
        transform: translateX(25px);
    }
    60% {
        -webkit-transform: translateY(35px);
        transform: translateY(35px);
    }
    80% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes bubbleMove1 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
    40% {
        -webkit-transform: translateX(25px);
        transform: translateX(25px);
    }
    60% {
        -webkit-transform: translateY(35px);
        transform: translateY(35px);
    }
    80% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes bubbleMove2 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateX(23px);
        transform: translateX(23px);
    }
    40% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    60% {
        -webkit-transform: translateX(35px);
        transform: translateX(35px);
    }
    80% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes bubbleMove2 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateX(23px);
        transform: translateX(23px);
    }
    40% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    60% {
        -webkit-transform: translateX(35px);
        transform: translateX(35px);
    }
    80% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes bubbleMove3 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(-23px);
        transform: translateY(-23px);
    }
    40% {
        -webkit-transform: translateX(18px);
        transform: translateX(18px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    80% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes bubbleMove3 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(-23px);
        transform: translateY(-23px);
    }
    40% {
        -webkit-transform: translateX(18px);
        transform: translateX(18px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    80% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes bubbleMove4 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(13px);
        transform: translateY(13px);
    }
    40% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    60% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes bubbleMove4 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(13px);
        transform: translateY(13px);
    }
    40% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    60% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes bubbleMove5 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(13px);
        transform: translateY(13px);
    }
    40% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
    60% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes bubbleMove5 {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(13px);
        transform: translateY(13px);
    }
    40% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
    60% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}


/*style bubble*/
.bubble-control{
    width: 100%;
    height: 100%;
    /*position: relative;*/

    /*float: left;*/
}
.bubble-1{
    position: absolute;
    left: -250px;
    top: 50px;
}
.bubble-2{
    position: absolute;
    right: 50px;
    top: 80px;
}
.bubble-3{
    position: absolute;
    right: -10px;
    top: 450px;
}
.bubble-4{
    position: absolute;
    left: -80px;
    bottom: -550px;
}
.bubble-5{
    position: absolute;
    right: -10px;
    bottom: -900px;
}
.bubble-1, .bubble-2, .bubble-3, .bubble-4, .bubble-5 {
    position: fixed;
    z-index:0;
}



@media only screen and (min-width: 1366px) {
.bubble-control{
    width: 100%;
    height: 100%h;
    position: relative;

    /*float: left;*/
}
.bubble-1{
    position: absolute;
    left: -250px;
    top: 50px;
}
.bubble-2{
    position: absolute;
    right: 150px;
    top: 80px;
}
.bubble-3{
    position: absolute;
    right: -150px;
    top: 450px;
}
.bubble-4{
    position: absolute;
    left: -20px;
    top: 750px;
}
.bubble-5{
    position: absolute;
    right: -10px;
    top: 900px;
}
.bubble-1, .bubble-2, .bubble-3, .bubble-4, .bubble-5 {
    position: fixed;
    z-index:0;
}
}

/* follow-us */
