@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
.wrapper {
    -webkit-font-smoothing: antialiased;
}

* {
    font-family: 'db_adman_xregular', sans-serif;
}

.container {
    max-width: 100%;
    height: 100%;
}

.container .menu {
    width: 0;
    height: 0;
    background: white;
    border: none;
    outline: none;
    float: right;
    cursor: pointer;
}

.close-overlay {
    color: white;
    font-size: 200%;
    font-weight: 80;
    text-align: right;
}

.over-lay button {
    border: none;
    outline: none;
    background: none;
    margin: 1%;
}

.over-lay {
    position: absolute;
    right: 0;
    top: -100%;
    padding: 5em;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: top;
    transform-origin: top;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 888;
}

.over-lay .cross {
    width: 100%;
    float: right;
    cursor: pointer;
    margin-left: 20%;
}

.over-lay .menu {
    width: auto;
    height: auto;
    background: none;
    list-style-type: none;
}

.over-lay .menu__link {
    color: #FEBDCD;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.over-lay .menulink_home ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    top: 40%;
    left: 63%;
    text-align: right;
}

.over-lay .menulink_home ul li {
    width: auto;
    height: auto;
    list-style: none;
    opacity: 0;
    text-align: right;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.over-lay .menulink_home ul li a {
    width: auto;
    height: auto;
    font-size: 18px;
    text-align: right;
    line-height: 250%;
    font-weight: normal;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

.over-lay .menulink_home ul li a:hover {
    color: white;
    opacity: 1;
}

.over-lay ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    top: 25%;
    left: 20%;
}

.over-lay ul li {
    width: auto;
    height: auto;
    list-style: none;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.over-lay ul li a {
    width: auto;
    height: auto;
    font-size: 32px;
    color: white;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: left;
    line-height: 200%;
}

.over-lay ul li a:hover {
    color: Cornsilk;
}

.scrolldownhere {
    width: auto;
    height: 100%;
    position: absolute;
    top: 92%;
    left: 45%;
}

.show {
    -webkit-transition: all .6s  ease-in-out;
    transition: all .6s  ease-in-out;
    display: block;
    opacity: 1;
    visibility: visible;
    top: 0;
}

.show li:nth-of-type(1) {
    -webkit-animation: show-list .8s forwards 0.2s ease-out;
    animation: show-list .8s forwards 0.2s ease-out;
}

.show li:nth-of-type(2) {
    -webkit-animation: show-list .8s forwards 0.4s ease-out;
    animation: show-list .8s forwards 0.4s ease-out;
}

.show li:nth-of-type(3) {
    -webkit-animation: show-list .8s forwards 0.6s ease-out;
    animation: show-list .8s forwards 0.6s ease-out;
}

.show li:nth-of-type(4) {
    -webkit-animation: show-list .8s forwards 0.8s ease-out;
    animation: show-list .8s forwards 0.8s ease-out;
}

.show li:nth-of-type(5) {
    -webkit-animation: show-list .8s forwards 1s ease-out;
    animation: show-list .8s forwards 1s ease-out;
}

.show li:nth-of-type(6) {
    -webkit-animation: show-list .8s forwards 1.2s ease-out;
    animation: show-list .8s forwards 1.2s ease-out;
}

.show li:nth-of-type(7) {
    -webkit-animation: show-list .8s forwards 1.4s ease-out;
    animation: show-list .8s forwards 1.4s ease-out;
}

@-webkit-keyframes show-list {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show-list {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.menu_detail {
    position: absolute;
    top: 30%;
    left: 65%;
    width: auto;
    height: auto;
}

.menu-1, .menu-2 {
    font-weight: 400;
    text-decoration: none;
    font-size: 400%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.menu-1:hover, .menu-2:hover {
    opacity: 0.5;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: auto;
    background: none;
    margin-left: 3%;
}

.center {
    z-index: 9;
    position: absolute;
    background: none;
    width: auto;
    height: auto;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerlookingfor {
    z-index: 9;
    position: absolute;
    background: none;
    width: 50%;
    height: auto;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 60%;
    left: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pxscreen {
    width: 625px;
    height: 352px;
    background: linear-gradient(253.21deg, rgba(249, 161, 27, 0.2) 14.24%, rgba(255, 21, 105, 0.2) 63.41%, rgba(41, 180, 230, 0.2) 91.37%);
    border-radius: 20px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hand {
    z-index: 99999;
    width: 90%;
    height: auto;
    -webkit-transform: rotate(-23.99deg);
    transform: rotate(-23.99deg);
    margin-top: -5%;
    margin-left: -5%;
}

.flatscreen {
    z-index: 9;
    position: absolute;
    width: 352px;
    height: 232px;
    top: 75%;
    background: -webkit-gradient(linear, left top, left bottom, from(#2A2A2A), to(rgba(42, 42, 42, 0)));
    background: linear-gradient(180deg, #2A2A2A 0%, rgba(42, 42, 42, 0) 100%);
    border-radius: 25px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.icon_zone_menubar:before {
    content: '';
    position: absolute;
    width: 70%;
    height: 100%;
    background: url("../images/txt.png") no-repeat top center;
    right: 50%;
    bottom: -12px;
    z-index: -9;
}

.icon_zone_menubar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 5px 5px 5px;
    height: auto;
}

.icon_zone_menubar:before {
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.icon_zone:before {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    background: url("../images/txt.png") no-repeat top center;
    right: 30%;
    bottom: -12px;
}

.icon_zone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 15px 15px 15px;
    height: auto;
}

.txt {
    margin-right: 25%;
    color: #FEBDCD;
    z-index: 2;
}

.icon_zone:before {
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.icon_zone_line_menubar:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 4px;
    background: linear-gradient(45deg, #3977D2 0%, #F9A11B 65%, #FF1569 100%);
    right: 0%;
    bottom: 15px;
}

.icon_zone_line_menubar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 10px 10px 10px;
    height: auto;
}

.icon_zone_line:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 4px;
    background: linear-gradient(45deg, #3977D2 0%, #F9A11B 65%, #FF1569 100%);
    right: 25%;
    bottom: 35px;
}

.icon_zone_line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 10px 10px 10px;
    height: auto;
}

.icon_zone_lineP2:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: linear-gradient(45deg, #3977D2 0%, #F9A11B 65%, #FF1569 100%);
    right: 60%;
    top: 30px;
}

.icon_zone_lineP2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 10px 10px 10px;
    height: auto;
}

.icon_zone_lineP3:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: linear-gradient(45deg, #3977D2 0%, #F9A11B 65%, #FF1569 100%);
    right: 22%;
    top: 35px;
}

.icon_zone_lineP3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 10px 10px 10px;
    height: auto;
}

@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
}

@keyframes arrow {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
}

.icon_zone_page2:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: url("../images/txt.png") no-repeat top center;
    right: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: -12px;
    z-index: -2;
}

.icon_zone_page2 {
    letter-spacing: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 10px 10px 10px;
    height: auto;
}

.icon_zone_page2:before {
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.icon_zone_page3:before {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background: url("../images/txt.png") no-repeat top center;
    right: 38%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: -12px;
    z-index: -2;
}

.icon_zone_page3 {
    letter-spacing: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 10px 10px 10px;
    height: auto;
}

.icon_zone_page3:before {
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.sec-4project {
    padding-bottom: 100px;
}

.txt-4staff {
    width: 343px;
    padding: 350px 0px 0px 0px;
    font-size: 48px;
    font-weight: bold;
    color: #FEBDCD;
    text-transform: uppercase;
}

.photo-pad {
    padding: 0px 0px 0px 0px;
}

.photo-pad2 {
    padding: 103px 0px 0px 0px;
}

.photo-pad3 {
    padding: 0px 0px 0px 0px;
}

.txt-staff {
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 0px 0px 14px;
    line-height: 35px;
    font-size: 24px;
}
.photomoile {
    overflow: hidden;
    position: relative;
}
.photomoile img {
    display: block;
    width: 80%;
}

.lookingforicon img {
    width: 50%;
    height: auto;
}

.lookingforicon :hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.txt-lookingfor {
    text-align: center;
    width: auto;
    height: auto;
    margin-left: 3%;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 42px;
    color: #FEBDCD;
    /* identical to box height */
    letter-spacing: 0.15em;
}
.detailProject{
    font-size: 24px;
}
.link_menu{
    font-size: 24px;
}
.NameProject {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 21px;
    letter-spacing: 0.15em;
    color: rgba(255, 255, 255, 0.6);
    margin-left: -10px;
}

.icon-pad1, .icon-pad2, .icon-pad3 {
    margin-top: 2%;
}

.icon-pad1:hover a div, .icon-pad2:hover a div, .icon-pad3:hover a div, .hover:hover div div {
    text-decoration: none;
    background: -webkit-linear-gradient(left, #F9A11B, #FF1569, #3977D2);
    background: -o-linear-gradient(right, #F9A11B, #FF1569, #3977D2);
    background: -moz-linear-gradient(right, #F9A11B, #FF1569, #3977D2);
    background: linear-gradient(to right, #F9A11B, #FF1569, #3977D2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.icon-pad1 {
    position: relative;
    text-align: center;
    width: 60%;
    height: auto;
    float: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.15em;
    font-style: normal;
    margin-left: 3%;
}

.icon-pad2 {
    position: relative;
    text-align: center;
    width: 60%;
    height: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.15em;
    font-style: normal;
    float: left;
    margin-left: 3%;
}

.icon-pad3 {
    position: relative;
    text-align: center;
    width: 60%;
    height: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.15em;
    font-style: normal;
    float: left;
    margin-left: 3%;
}

.photo-filter {
    position: relative;
    display: inline-block;
    top: 5%;
    left: 20%;
    width: auto;
    height: auto;
}

.videofilterIG {
    width: 59%;
    height: 100%;
    border-radius: 20px;
}

.videofilterhome {
    width: 70%;
    height: 100%;
    border-radius: 20px;
}

.videoStaffPick {
    width: 75%;
    height: 97%;
    border-radius: 2vw;
    position: absolute;
    left: 0.5vw;
    top: 0.4vw;
    z-index: 98;
    object-fit: cover;
}

.mockupbest1, .mockupbest2, .mockupbest3, .mockupbest4 {
    position: relative;
    z-index: 99;
}

.photomoile1 {
    margin-top: -10%;
    position: relative;
    display: inline-block;
    width: 90%;
    height: auto;
}

.photomoile1 img {
    display: block;
}

.photomoile1::after {
    position: absolute;
    content: "";
    height: 99%;
    width: 300px;
    top: 0;
    left: 0;
    background: linear-gradient(253.21deg, rgba(249, 161, 27, 0.2) 14.24%, rgba(255, 21, 105, 0.2) 63.41%, rgba(41, 180, 230, 0.2) 91.37%);
    border-radius: 20px;
}

.photomoilehome {
    margin-top: -10vh;
    position: relative;
    display: inline-block;
    width: 90%;
    height: auto;
}

.photomoilehome img {
    display: block;
}

.photomoilehome::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    background: linear-gradient(253.21deg, rgba(249, 161, 27, 0.2) 14.24%, rgba(255, 21, 105, 0.2) 63.41%, rgba(41, 180, 230, 0.2) 91.37%);
    border-radius: 20px;
}

.txt-Cheerup {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    left: 55%;
    top: 25%;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 42px;
    color: #FEBDCD;
    text-transform: uppercase;
    /* identical to box height */
    letter-spacing: 0.15em;
}

.text_tivirus {
    position: absolute;
    text-align: left;
    width: 650px;
    height: auto;
    left: 55.5%;
    top: 37%;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.6);
    /* identical to box height */
    letter-spacing: 0.15em;
}

.letsee {
    position: absolute;
    font-size: 24px;
    width: 167px;
    height: 60px;
    left: 55.5%;
    top: 55%;
    color: white;
    background: #EA396B;
    border-radius: 44px;
}

.letsee:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bg {
    z-index: -99;
    background: url(/images/FINAL_DESIGN_APPROVE.png) no-repeat top center;
    height: 100%;
}
/*# sourceMappingURL=Home.css.map */
