@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
.container {
  width: 100%;
  height: 100%;
}

.container .menu {
  width: 0;
  height: 0;
  background: white;
  border: none;
  outline: none;
  float: right;
  cursor: pointer;
}

.close-overlay {
  color: white;
  font-size: 500%;
  font-weight: 80%;
}

.over-lay button {
  border: none;
  outline: none;
  background: none;
  margin: 1%;
}

.over-lay {
  position: absolute;
  right: 0;
  top: -100%;
  padding: 5em;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  z-index: 888;
}

.over-lay .cross {
  float: right;
  cursor: pointer;
}

.over-lay .menu {
  width: auto;
  height: auto;
  background: none;
  list-style-type: none;
}

.over-lay .menu__link {
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 300%;
  line-height: 250%;
}

.over-lay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0.5%;
  margin-right: 55%;
}

.over-lay ul li {
  list-style: none;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: 700;
}

.over-lay ul li a {
  font-size: 20%;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
}

.over-lay ul li a:hover {
  color: Cornsilk;
}

.show {
  -webkit-transition: all .6s  ease-in-out;
  transition: all .6s  ease-in-out;
  display: block;
  opacity: 1;
  visibility: visible;
  top: 0;
}

.show li:nth-of-type(1) {
  -webkit-animation: show-list .8s forwards 1s ease-out;
          animation: show-list .8s forwards 1s ease-out;
}

.show li:nth-of-type(2) {
  -webkit-animation: show-list .8s forwards 1.2s ease-out;
          animation: show-list .8s forwards 1.2s ease-out;
}

.show li:nth-of-type(3) {
  -webkit-animation: show-list .8s forwards 1.4s ease-out;
          animation: show-list .8s forwards 1.4s ease-out;
}

.show li:nth-of-type(4) {
  -webkit-animation: show-list .8s forwards 1.6s ease-out;
          animation: show-list .8s forwards 1.6s ease-out;
}

.show li:nth-of-type(5) {
  -webkit-animation: show-list .8s forwards 1.8s ease-out;
          animation: show-list .8s forwards 1.8s ease-out;
}

.show li:nth-of-type(6) {
  -webkit-animation: show-list .8s forwards 2s ease-out;
          animation: show-list .8s forwards 2s ease-out;
}

@-webkit-keyframes show-list {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-list {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.menu_detail {
  position: absolute;
  top: 30%;
  left: 65%;
  width: auto;
  height: auto;
}

.menu-1, .menu-2 {
  font-weight: 400;
  text-decoration: none;
  font-size: 400%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-1:hover, .menu-2:hover {
  opacity: 0.5;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: auto;
  background: none;
  margin-left: 3%;
}

.pxscreen {
  position: absolute;
  width: 625px;
  height: 352px;
  left: 33%;
  top: 30%;
  background: linear-gradient(253.21deg, rgba(249, 161, 27, 0.2) 14.24%, rgba(255, 21, 105, 0.2) 63.41%, rgba(41, 180, 230, 0.2) 91.37%);
  border-radius: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hand {
  z-index: 99;
  position: absolute;
  left: 0%;
  top: 5%;
}

.flatscreen {
  position: absolute;
  width: 355px;
  height: 232px;
  left: 40%;
  top: 60%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2A2A2A), to(rgba(42, 42, 42, 0)));
  background: linear-gradient(180deg, #2A2A2A 0%, rgba(42, 42, 42, 0) 100%);
  border-radius: 25px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.icon_zone:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/txt.png") no-repeat top center;
  right: -15%;
  bottom: -12px;
}

.icon_zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 10px 10px 10px;
  height: auto;
}

.txt {
  color: #FEBDCD;
  z-index: 2;
}

.icon_zone:before {
  -webkit-animation-name: arrow;
          animation-name: arrow;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.icon_zone_line:before {
  content: '';
  position: absolute;
  width: 180px;
  height: 4px;
  background: linear-gradient(45deg, #dc9125 0%, #8bbd2e 65%, #02a858 100%);
  left: 548px;
  bottom: 35px;
}

.icon_zone_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 10px 10px 10px;
  height: auto;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

.icon_zone_page2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/txt.png") no-repeat top center;
  right: 35%;
  bottom: -12px;
  z-index: -2;
}

.icon_zone_page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 10px 10px 10px;
  height: auto;
}

.icon_zone_page2:before {
  -webkit-animation-name: arrow;
          animation-name: arrow;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.sec-4project {
  padding-bottom: 100px;
}

.txt-4staff {
  padding: 350px 0px 0px 0px;
  font-size: 32px;
  font-weight: bold;
  color: #FEBDCD;
  text-transform: uppercase;
}

.photo-pad {
  padding: 0px 0px 0px 31px;
}

.photo-pad2 {
  padding: 103px 0px 0px 0px;
}

.photo-pad3 {
  padding: 0px 0px 0px 0px;
}

.txt-staff {
  font-family: 'IBM Plex Sans Thai Medium';
  padding: 15px 0px 0px 14px;
}

.photomoile :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.txt-lookingfor {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  left: 42%;
  top: 25%;
  font-family: 'IBM Plex Sans Thai Medium';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #FEBDCD;
  /* identical to box height */
  letter-spacing: 0.15em;
}

.icon-pad, .icon-pad2, .icon-pad3 {
  margin-top: 2%;
}

.icon-pad {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  font-family: 'IBM Plex Sans Thai Thin';
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.15em;
  font-style: normal;
  left: 30%;
  top: 35%;
}

.icon-pad2 {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  font-family: 'IBM Plex Sans Thai Thin';
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.15em;
  font-style: normal;
  left: 45%;
  top: 35%;
}

.icon-pad3 {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  font-family: 'IBM Plex Sans Thai Thin';
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.15em;
  font-style: normal;
  left: 60%;
  top: 35%;
}

.photo-filter {
  position: absolute;
  top: 5%;
  left: 20%;
  width: auto;
  height: auto;
}

.pxscreen_p4 {
  position: absolute;
  width: 521px;
  height: 263px;
  top: 25%;
  left: -40%;
  background: linear-gradient(253.21deg, rgba(249, 161, 27, 0.2) 14.24%, rgba(255, 21, 105, 0.2) 63.41%, rgba(41, 180, 230, 0.2) 91.37%);
  border-radius: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=Home.css.map */