.link_menu{
    font-size: 16px;
    font-weight: lighter;
   text-decoration: none;  
   color: white; 
   opacity: 0.5;
   cursor: pointer;
    transition: all 0.4s ease; 
    cursor: pointer;
    &:hover {
        color: white;
        opacity: 1;
      }
  }